html,
body,
.app {
  background: #eee;
  height: 100vh;
}

.app {
  padding: 1em;
}

.server-error input {
  background: #FFF6F6 !important;
  border: 1px solid #D3A1A0 !important;
  color: #A03D3B !important;
}

.server-error i {
  color: #A03D3B;
}

.server-error input::placeholder {
  color: #D3A1A0 !important;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.messages__area {
  flex: 8;
  height: 100%;
  overflow-y: auto;
}

.messages__header,
.messages__form {
  flex: 1;
}

.message--outcome {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message--image {
  padding: 1em;
}

.progress-bar {
  margin: .5em 0 0 0 !important;
}

.menu {
  padding-bottom: 1em;
}
